{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 text-center">Nos 3 derniers articles</h1>
    <hr/>

    <ul>
        {% for post in threeLastPosts %}
            <li><a href="{{path('post_show', {id: post.id})}}"><h5 class="pl-2 pt-4">{{ post.title }}</h5></a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
