{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4 mb-2 text-center">Liste des posts</h1>
    <hr/>

    {% for post in posts %}
        <div class="container">
            <div class="card border-primary mb-3">
                <div class="card-header">Post #{{ post.id }}</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}